div[class*=language-]
  border-radius 2px
  &:before
    color #ccc

pre[class*=language-]
  code
    color #476582 !important
    .attr-value, .string, .char, .regex, .varable
      color #8bbbe3
    .keyword
      color #e96900
    .punctuation
      color #2973b7
    .tag
      color #2973b7
    .number
      color #ae81ff
    .class-name, .property, .constant, .symbol
      color #b58900
    .operator, .entity, .url
      color #2196f3
.custom-block.tip
  border-color: #8bbbe3
